/*Font imports*/
@font-face {
  font-family: SFProText;
  src: url(./../fonts/sf-pro-text_regular.woff2);
}




body{
margin: 0;
padding: 0;
}

.navbar{
/* position: absolute;
top: 0; */
width: auto;
padding-top: 1px;
height: 44px;
background: #232323;
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
align-items: center;
justify-content: center;
}

.navbar a {
  color: rgb(211, 207, 207);
  text-decoration: none;
  margin-right: 3em;
  margin-left: 3em;
  font-family:  SFProText,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400px;

}